@font-face {
    font-family: 'Oswald';
    font-weight: 500;
    src: url(./fonts/Oswald/static/Oswald-Regular.ttf);
  }

  body {
    font-family: Oswald;
    background-color: #EDE8F5;
  }

#side-nav {
    font-size: large;
    color: #EDE8F5;
    box-sizing: border-box;
    margin: -8px;
    width: 350px;
    height: 1000px;
    background-color: #3D52A0;
    position: absolute;

    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    padding-left: 45px;
    padding-top: 60px;
  
}

#content {
    display: flex;
    flex-direction: column;
    
}

#proj-title {
    height: 15vh;
    width: 100vw;
    background-color: #7091E6;
    margin-top: -8px;
    display: flex;
    align-items: flex-end;
    
}


.nav-buttons {
    font-size: large;
    border: 0;
    background-color: #3d52a000;
    padding-top: 20px;
    color: #EDE8F5;
}

#example {
    padding-left: 30px;
}

#my-projects-title {
    padding-top: 100px;
}

#title {
    color: #dfdbe7;
    margin-left: 360px;
    margin-bottom: 2px;
    font-size: 4rem;
}

#proj-todos {
    padding: 20px;
    background-color: #EDE8F5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 300px 300px 300px;
    column-gap: 1px;
    row-gap: 80px;

}

.tile {
    background-color: #ADBBDA;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
    width: 200px;
}

#grid-container {
    background-color: #EDE8F5;
    width: (100vw - 350px);
    height: 100vh;
    margin-left: 341px;
    margin-right: -20px;
    margin-bottom: -20px;
}

.tile-title {
    font-size: 2rem;
    margin-top: 1px;
}

.tile-description {
    margin-top: -20px;
}